/** Imports  */

@import url('https://fonts.googleapis.com/css?family=Overpass');

/** Your styles go here */

h1 {
	font-family: Overpass, monospace;
	text-align: center;
}

p {
	font-family: Overpass, monospace;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	margin-top: 150px;
	text-align: center;
}
